<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>trackerr - Simple Exception Tracking</title>

    <meta name="description" content="trackerr - Simple Exception Tracking" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark mb-4">
      <div class="container">
        <a class="navbar-brand h1 mb-0" href="#">trackerr</a>
      </div>
    </nav>

    <main>
      <div class="container">
        <div class="controls mb-3 d-flex">
          <a
            href="?timestampOrder=<%= timestampOrder === 'asc' ? 'desc' : 'asc' %>&page=<%= page %>"
            class="btn btn-light mr-2 <%= timestampOrder === 'desc' ? 'active' : '' %>"
          >
            Tail
          </a>

          <nav aria-label="pagination">
            <ul class="pagination m-0">
              <li class="page-item <%= hasPreviousPage ? '' : 'disabled' %>">
                <a
                  class="page-link"
                  href="?timestampOrder=<%= timestampOrder %>&page=<%= page-1 %>"
                  aria-disabled="<%= hasPreviousPage ? 'false' : 'true' %>"
                  >Previous</a
                >
              </li>
              <li class="page-item <%= hasNextPage ? '' : 'disabled' %>">
                <a
                  class="page-link"
                  href="?timestampOrder=<%= timestampOrder %>&page=<%= page+1 %>"
                  aria-disabled="<%= hasNextPage ? 'false' : 'true' %>"
                  >Next</a
                >
              </li>
            </ul>
          </nav>
        </div>

        <div class="mb-3 p-3 bg-light">
          <code>
            <% exceptions.forEach(function(exception){ %>
            <div class="mb-3 text-body">
              <div class="mb-1"><%= exception.timestamp.toISOString() %></div>
              <div style="white-space: pre-wrap"><%= exception.stack %></div>
            </div>
            <% }) %>
          </code>
        </div>
      </div>
    </main>
  </body>
</html>
