<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>trackerr - Simple Exception Tracking</title>

    <meta name="description" content="trackerr - Simple Exception Tracking" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark mb-4">
      <div class="container">
        <a class="navbar-brand h1 mb-0" href="#">trackerr</a>
      </div>
    </nav>

    <main>
      <div class="container">
        <div class="sticky-top bg-white pt-2 pb-2">
          <div class="d-flex flex-column flex-sm-row">
            <form
              action=""
              method="get"
              class="form form-inline w-100 border-right mr-2 mb-2 flex-nowrap"
            >
              <input
                type="text"
                class="form-control mr-2 flex-grow-1"
                placeholder="Enter search keyword"
                name="q"
                value="<%= query %>"
              />
              <input type="hidden" name="timestampOrder" value="desc" />
              <input type="hidden" name="page" value="1" />
              <button type="submit" class="btn btn-primary mr-sm-2">
                Search
              </button>
            </form>

            <div class="page-controls d-flex mb-2">
              <a
                href="?timestampOrder=<%= timestampOrder === 'asc' ? 'desc' : 'asc' %>&page=<%= page %>&q=<%= query %>"
                class="btn btn-light mr-2 <%= timestampOrder === 'desc' ? 'active' : '' %>"
              >
                Tail
              </a>

              <nav aria-label="pagination">
                <ul class="pagination m-0">
                  <li
                    class="page-item <%= hasPreviousPage ? '' : 'disabled' %>"
                  >
                    <a
                      class="page-link"
                      href="?timestampOrder=<%= timestampOrder %>&page=<%= page-1 %>&q=<%= query %>"
                      aria-disabled="<%= hasPreviousPage ? 'false' : 'true' %>"
                      >Previous</a
                    >
                  </li>
                  <li class="page-item <%= hasNextPage ? '' : 'disabled' %>">
                    <a
                      class="page-link"
                      href="?timestampOrder=<%= timestampOrder %>&page=<%= page+1 %>&q=<%= query %>"
                      aria-disabled="<%= hasNextPage ? 'false' : 'true' %>"
                      >Next</a
                    >
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="text-muted">
            Found <%= totalCount %> results
          </div>
        </div>

        <div class="mb-3 p-3 bg-light">
          <code>
            <% exceptions.forEach(function(exception){ %>
            <div class="mb-3 text-body">
              <div class="mb-1"><%= exception.timestamp.toISOString() %></div>
              <div style="white-space: pre-wrap"><%= exception.stack %></div>
            </div>
            <% }) %>
          </code>
        </div>
      </div>
    </main>
  </body>
</html>
